body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#header img{
    display: block;
	margin-left: auto;
	margin-right: auto;
}

#navigationMenu{
	position: sticky;
	top: 5px;
    width: 100%;
    box-shadow: 3px 5px #bdb8b838;
}

#navigationMenu ul{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	background-color: #96B4FF;
}

#navigationMenu li{
    display: inline;
}

#navigationMenu li a{
	color:rgb(44, 43, 43);
	padding:10px;
	padding-right:20px;
	text-decoration:none;
	text-decoration:bold;
}

#navigationMenu li a:hover{
	background:lightblue;
}

#votingCard {
    text-align: center;
	background-color: white;
    border: 2px solid #202020;
    color: rgb(51, 45, 45);
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
	cursor: pointer;
    display: inline-block;
    font-size: 75%;
    margin: 4% 2%;
	width: 15%;
	border-radius: 3%;
}

.click {
    background-color: white;
    border: 1px solid #96b4ff;
    color: black;
    padding: 10% 30%;
    text-decoration: none;
	cursor: pointer;
    font-size: 95%;
    margin: 4% 2%;
	width: 95%;
    transition-duration: 0.2s;
	border-radius: 5%;
	text-align: center;
}


.click:hover {
	background-color: #96b4ff;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border: 1px solid #0a67ff;
}

#footer {
    padding:10px;
    background-color: #96B4FF;
    box-shadow: 3px 5px #bdb8b838;
}
