/*#votingCard {
    border-width:3px;
    border-radius:10px;
    border-style:solid;
    border-color:#96B4FF;
    margin:10px;
    padding:5px;
    box-shadow: 3px 5px #bdb8b838;
}*/

#navigationMenu{
	position: sticky;
	top:5px;
    width:100%;
    box-shadow: 3px 5px #bdb8b838;
}

#navigationMenu ul{
	list-style-type: none;
	margin:0;
	padding:10px;
	overflow:hidden;
	background-color: #96B4FF;
}

#navigationMenu li{
	display:inline;
}

#navigationMenu li a{
	color:blue;
	padding:10px;
	padding-right:20px;
	text-decoration:none;
	text-decoration:bold;
}

#navigationMenu li a:hover{
	background:lightblue;
}

#footer {
    padding:10px;
    background-color: #96B4FF;
    border-radius: 10px;
    box-shadow: 3px 5px #bdb8b838;
}